.news {
  width: 80%;
  margin: 10px;
  text-align: center;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  box-shadow: 0 0 20px #e6e6e6;
  padding: 10px;
}


.news_title {
  font-size: 15px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  text-decoration: underline;
}

.news_description {
  color: grey;
  font-size: 13px;
}

.news_info {
  display: flex;
  justify-content: space-around;
}

.news_info p {
  color: grey;
  font-size: 12px;
}


.news img {
  width: 100%;
  background-position: center;
  background-size: cover;
}
